transformers           
datasets               
torch                  
mlflow                 
fastapi                
uvicorn               
prometheus-client      
textblob               
nltk                   
pytest                 
pytest-cov             
pandas                 
scikit-learn           
pydantic               
loguru                 
matplotlib             
seaborn                #


               
